.header{
    width: 97%;
    /* margin-top: 10px; */
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    margin: 20px auto;
    /* border-radius: 15px; */
}
.wrapper{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}