.checkhead{

    background-color: #051922;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.checkhead .checklogo{
    width: 150px;
}

.checkfooter{
    background-color: white;
    padding: 20px;
}