.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

}

.listitem a{
    color: white;
    text-decoration: none;
}

.listitem:hover{
    background-color: rgba(255,255, 255, 0.4);
    padding: 7px;
    border-radius: 0 25px 25px 0;
}

/* .active{

    background-color: rgba(255,255, 255, 0.4);
    padding: 7px;
    border-radius: 0 25px 25px 0;

} */